@import url('https://fonts.googleapis.com/css2?family=Coda&family=Combo&family=Audiowide&family=Russo+One&family=Krona+One');

body {
  background-image: url("./images/HomeImage.jpg");
  padding: 20px;
  margin: 0;
}


h1, h2 {
    text-align: center;
    font-family: 'Krona One', cursive;
    color:white;
    border-bottom: 2px outset #1C6EA4;
}

p.smenu {
  color:white;
  font-family: 'Coda', cursive;
  font-size: 28px;
  border-bottom: 2px outset #1C6EA4;
}



ul.dozen {
  font-family: 'Krona One', cursive;
  font-size: 20px;
  color:white;
  column-count: 2;
  column-rule: dotted 1px #333;
  list-style-type: none;
}

p.dmenu {
  color:white;
  font-family: 'Coda', cursive;
  font-size: 28px;
  border-bottom: 2px outset #1C6EA4;
}

p.flavors {
  color:white;
  font-family: 'Coda', cursive;
  font-size: 20px;
}

ul.drink {
  font-family: 'Krona One', cursive;
  font-size: 20px;
  color:white;
  column-count: 3;
  column-rule: dotted 1px #333;
  list-style-type: none;
}

ul.scones {
  font-family: 'Krona One', cursive;
  font-size: 14px;
  color:white;
  column-count: 8;
  column-rule: dotted 1px #333;
  list-style-type: none;
  border-bottom: 2px outset #1C6EA4;
}

ul.fund {
  font-family: 'Krona One', cursive;
  font-size: 24px;
  color: white;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  font-family: 'Krona One', cursive;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  border-bottom: 2px outset #1C6EA4;
}
.content {
  
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

p.robinsons {
  font-family: 'Audiowide', cursive;
  color: white;
  font-size: 36px;
  border-bottom: 2px outset #1C6EA4;
}

p.family {
  font-family: 'Krona One', cursive;
  font-size: 24px;
  color: white;
}